aside{
width: 25%;
float: left;
margin: 10px;
padding: 10px;

}
nav {
	color: white;
    padding: 12px;
	text-align: left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: inherit;
    font-weight: bold;
    font-size: 110%;
}
main{
	padding-left: 70px;
	width: 80%;
}
h1{
text-align: center;
}
